﻿@using Microsoft.AspNet.Identity
@using VkAnalyzer.Web.Models
@model VkAnalyzer.Web.Models.RatingViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Рейтинги</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Настройка рейтинга</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CityId, RatingUtils.GetSelectListItemsForCities(int.Parse(User.Identity.GetUserId())))
                @Html.ValidationMessageFor(model => model.CityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDateTime)
                @Html.ValidationMessageFor(model => model.FromDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToDateTime)
                @Html.ValidationMessageFor(model => model.ToDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size)
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SortColumn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SortColumn, RatingUtils.GetSelectListItemsForSortColumn())
                @Html.ValidationMessageFor(model => model.SortColumn)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Вперед!" class="btn btn-default" />
            </div>
        </div>
    </div>
}