﻿@model IEnumerable<VkAnalyzer.Web.Models.PostViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountReposts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountLikes)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Owner.FirstName)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Owner.LastName)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Owner.Sex)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Owner.City)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountReposts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountLikes)
        </td>
    </tr>
}

</table>
